### Import libraries

In [1]:
import numpy as np
import pandas as pd

### Get DataFrame from URL

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
data = pd.read_html(url, header = 0)
data

[    Postcode           Borough  \
 0        M1A      Not assigned
 1        M2A      Not assigned
 2        M3A        North York
 3        M4A        North York
 4        M5A  Downtown Toronto
 5        M6A        North York
 6        M6A        North York
 7        M7A  Downtown Toronto
 8        M8A      Not assigned
 9        M9A      Queen's Park
 10       M1B       Scarborough
 11       M1B       Scarborough
 12       M2B      Not assigned
 13       M3B        North York
 14       M4B         East York
 15       M4B         East York
 16       M5B  Downtown Toronto
 17       M5B  Downtown Toronto
 18       M6B        North York
 19       M7B      Not assigned
 20       M8B      Not assigned
 21       M9B         Etobicoke
 22       M9B         Etobicoke
 23       M9B         Etobicoke
 24       M9B         Etobicoke
 25       M9B         Etobicoke
 26       M1C       Scarborough
 27       M1C       Scarborough
 28       M1C       Scarborough
 29       M2C      Not assigned
 ..       ...               ...
 257      M9X      Not assigned
 258      M1Y      Not assigned
 259      M2Y      Not assigned
 260      M3Y      Not assigned
 261      M4Y  Downtown Toronto
 262      M5Y      Not assigned
 263      M6Y      Not assigned
 264      M7Y      East Toronto
 265      M8Y         Etobicoke
 266      M8Y         Etobicoke
 267      M8Y         Etobicoke
 268      M8Y         Etobicoke
 269      M8Y         Etobicoke
 270      M8Y         Etobicoke
 271      M8Y         Etobicoke
 272      M8Y         Etobicoke
 273      M9Y      Not assigned
 274      M1Z      Not assigned
 275      M2Z      Not assigned
 276      M3Z      Not assigned
 277      M4Z      Not assigned
 278      M5Z      Not assigned
 279      M6Z      Not assigned
 280      M7Z      Not assigned
 281      M8Z         Etobicoke
 282      M8Z         Etobicoke
 283      M8Z         Etobicoke
 284      M8Z         Etobicoke
 285      M8Z         Etobicoke
 286      M9Z      Not assigned

                                           Neighborhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                                         Harbourfront
 5                                     Lawrence Heights
 6                                       Lawrence Manor
 7                                         Queen's Park
 8                                         Not assigned
 9                                         Not assigned
 10                                               Rouge
 11                                             Malvern
 12                                        Not assigned
 13                                     Don Mills North
 14                                    Woodbine Gardens
 15                                       Parkview Hill
 16                                             Ryerson
 17                                     Garden District
 18                                           Glencairn
 19                                        Not assigned
 20                                        Not assigned
 21                                          Cloverdale
 22                                           Islington
 23                                        Martin Grove
 24                                    Princess Gardens
 25                                     West Deane Park
 26                                      Highland Creek
 27                                          Rouge Hill
 28                                          Port Union
 29                                        Not assigned
 ..                                                 ...
 257                                       Not assigned
 258                                       Not assigned
 259                                       Not assigned
 260                                       Not assigned
 261                               Church and Wellesley
 262                                       Not assigned
 263                                       Not assigned
 264  Business Reply Mail Processing Centre 969 Eastern
 265                                         Humber Bay
 266                                   King's Mill Park
 267                           Kingsway Park South East
 268                                          Mimico NE
 269                                     Old Mill South
 270                                 The Queensway East
 271                              Royal York South East
 272                                           Sunnylea
 273                                       Not assigned
 274                                       Not assigned
 275                                       Not assigned
 276                                       Not assigned
 277                                       Not assigned
 278                                       Not assigned
 279                                       Not assigned
 280                                       Not assigned
 281                           Kingsway Park South West
 282                                          Mimico NW
 283                                 The Queensway West
 284                              Royal York South West
 285                                     South of Bloor
 286                                       Not assigned

 [287 rows x 3 columns],
                                           Unnamed: 0  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 1                                                 NL
 2                                                  A

                                Canadian postal codes  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 1                                                 NS
 2                                                  B

                                           Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...        NaN        NaN
 1                                                 PE         NB         QC
 2                                                  C          E          G

   Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
 0        NaN        NaN        NaN        NaN        NaN         NaN
 1         QC         QC         ON         ON         ON          ON
 2          H          J          K          L          M           N

   Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
 0         NaN         NaN         NaN         NaN         NaN         NaN
 1          ON          MB          SK          AB          BC       NU/NT
 2           P           R           S           T           V           X

   Unnamed: 17
 0         NaN
 1          YT
 2           Y  ,
   NL NS PE NB QC QC.1 QC.2 ON ON.1 ON.2 ON.3 ON.4 MB SK AB BC NU/NT YT
 0  A  B  C  E  G    H    J  K    L    M    N    P  R  S  T  V     X  Y]

### Get data based on headings

In [31]:
headings = ['Postcode','Borough','Neighborhood']
for tables in data:
    current_headings = tables.columns.values[:4]
    if all(current_headings == headings):
        break

In [32]:
tables.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [6]:
table['Borough'].unique()

array(['Not assigned', 'North York', 'Downtown Toronto', "Queen's Park",
       'Scarborough', 'East York', 'Etobicoke', 'York', 'East Toronto',
       'West Toronto', 'Central Toronto', 'Mississauga'], dtype=object)

In [7]:
### Drop 'Not assigned' in Borough columns

In [8]:
process_table = table[table['Borough']!='Not assigned'].reset_index().drop('index', axis=1)
process_table.head()

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [9]:
process_table['Borough'].unique()

array(['North York', 'Downtown Toronto', "Queen's Park", 'Scarborough',
       'East York', 'Etobicoke', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

### Join the Neighborhood based on similar Postcode with seperated units = ','

In [10]:
df = pd.DataFrame(process_table.groupby(['Postcode','Borough'])['Neighborhood'].apply(','.join)).reset_index()
df.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

### Change the 'Not assigned' on 'Neighborhood' columns = values in 'Borough' colunmns

In [11]:
df.loc[df['Neighborhood']=='Not assigned','Neighborhood'] = df.loc[df['Neighborhood']=='Not assigned','Borough']

In [13]:
df.shape

(103, 3)

### Use beautiful soup

In [15]:
from bs4 import BeautifulSoup
import requests

In [19]:
page_response = requests.get(url)
page_content = BeautifulSoup(page_response.content,'html.parser')

In [43]:
table = page_content.find('table',{'class':'wikitable sortable'})
rows = table.find_all('tr')
raw_df = pd.DataFrame(columns=['PostalCode', 'Borough', 'Neighborhood'])

In [49]:
for row in rows:
    row_items = row.find_all('td')
    if len(row_items) > 0:
        postcode = row_items[0].text.strip()
        borough = row_items[1].text.strip()
        if borough.lower() != 'not assigned':
            neighborhood = row_items[2].text.strip()
            raw_df = raw_df.append({'PostalCode':postcode, 
                                    'Borough':borough, 
                                    'Neighborhood':neighborhood}, 
                                   ignore_index = True)
raw_df.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor